<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://web3isgoinggreat.com/web1.css" />
    <link rel="shortcut icon" href="https://web3isgoinggreat.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="A timeline of some of 2021's greatest hits in cryptocurrencies, NFTs, and other web3 projects."
    />
    <meta name="author" content="Molly White" />
    <link
      rel="apple-touch-icon"
      href="https://web3isgoinggreat.com/logo192.png"
    />
    <link rel="shortcut icon" href="https://web3isgoinggreat.com/favicon.ico" />
    <meta name="theme-color" content="#5948a4" />
    <meta property="og:url" content="https://web3isgoinggreat.com/" />
    <meta property="og:title" content="Web3 is going just great" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="A timeline of some of 2021's greatest hits in cryptocurrencies, NFTs, and other web3 projects."
    />
    <meta
      property="og:image"
      content="https://storage.googleapis.com/web3-334501.appspot.com/monkey-og.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@molly0xfff" />
    <meta name="twitter:title" content="Web3 is going just great" />
    <meta
      name="twitter:description"
      content="A timeline of some of 2021's greatest hits in cryptocurrencies, NFTs, and other web3 projects."
    />
    <meta
      name="twitter:image"
      content="https://storage.googleapis.com/web3-334501.appspot.com/monkey-twitter.png"
    />
    <meta
      name="twitter:image:alt"
      content="Illustration: A sad-looking Bored Ape
    Yacht Club NFT monkey looks at a world engulfed in flames. Text next to it
    says 'Web3 is going just great.'"
    />
    <title>Web3 is going just great</title>
  </head>
  <body>
    <header class="timeline-page page-header">
      <div class="constrain-width">
        <img
          class="logo"
          src="https://storage.googleapis.com/web3-334501.appspot.com/monkey.png"
          alt="Illustration: A sad-looking Bored Ape Yacht Club NFT monkey looks at a world engulfed in flames."
        />
        <div class="header-content">
          <h1>Web3 is going just great</h1>
          <p>
            ...and is definitely not an enormous grift that's pouring lighter
            fluid on our already-smoldering planet.
          </p>
          <p>
            2021 – 2022 timeline by Molly White
            <span style="display: inline-block"
              >(<a
                target="_blank"
                rel="noopener"
                href="https://twitter.com/molly0xFFF"
                >Twitter</a
              >, 
              <a
                target="_blank"
                rel="noopener"
                href="https://www.mollywhite.net/"
                >website</a
              >)</span
            >
            Follow updates on 
            <a href="https://twitter.com/web3isgreat" rel="noopener" target="_blank">
              Twitter
            </a> 
            or with 
            <a href="https://web3isgoinggreat.com/feed.xml" rel="noreferrer" target="_blank">
              RSS
            </a>
          </p>
          <ul>
            <li>
              <a href="https://web3isgoinggreat.com/what" rel="noopener" target="_blank">What is web3?</a>
            </li>
            <li>
              <a href="https://web3isgoinggreat.com/glossary" rel="noopener" target="_blank">Glossary</a>
            </li>
            <li>
              <a href="https://web3isgoinggreat.com/about" rel="noopener" target="_blank">About this project</a>
            </li>
            <li>
              <a href="https://web3isgoinggreat.com/suggest" rel="noopener" target="_blank">Suggest a change</a>
            </li>
            <li>
              <a href="https://web3isgoinggreat.com/attribution" rel="noopener" target="_blank">License and attribution</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div style="width: 80%; max-width: 1200px; margin: 0 auto">
      <% entries.forEach(function (entry) { %>
      <div class="timeline-entry" style="margin-bottom: 50px">
        <div class="timeline-description">
          <span class="timestamp">
            <a id="<%= entry.id %>"></a>
            <time datetime="<%= entry.dateString %>"><%= entry.dateString %></time>
            </span>
          </a>
          <h2>
            <span><%- entry.title %></span>
          </h2>
          <div class="flex">
            <div class="body-wrap">
              <p><%- entry.body %></p>
              <ul>
                <% entry.links.forEach(function (link) { %>
                <li>
                  <a href="<%= link.href %>" target="_blank" rel="noreferrer"
                    ><span><%- link.linkText %></span></a
                  ><span><%- link.extraText %></span>
                </li>
                <% }) %>
              </ul>
              <div>
                <div class="tags">
                  <% if (entry.filters.theme && entry.filters.theme.length) { %>
                  <div class="tag-list theme">
                    <span class="sr-only">Theme tags: </span><%-
                    entry.filters.theme.join(", ") %>
                  </div>
                  <% } %>
                  <div class="tag-group-right">
                    <% if (entry.filters.blockchain && entry.filters.blockchain.length) { %>
                    <div class="tag-list">
                      <span class="sr-only">Blockchain tags: </span
                      ><span
                        >Blockchain: <%- entry.filters.blockchain.join(", ")
                        %></span
                      >
                    </div>
                    <% } %> <% if (entry.filters.tech &&
                    entry.filters.tech.length) { %>
                    <div class="tag-list">
                      <span class="sr-only">Tech tags: </span><%-
                      entry.filters.tech.join(", ") %>
                    </div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <% if (entry.image) { %>
            <div class="captioned-image image-right">
              <img
                src="https://storage.googleapis.com/web3-334501.appspot.com/entryAssets/<%= entry.image.src %>"
                alt="<%= entry.image.alt %>"
              />
              <% if (entry.image.caption) { %>
              <span class="caption"><%- entry.image.caption %> </span>
              <span class="attribution-link"
                ><a href="/attribution">(attribution)</a>
              </span>
              <% } %>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <footer class="page-footer">
      <div class="constrain-width">
        <p>
          Text is licensed under a
          <a
            rel="license"
            href="http://creativecommons.org/licenses/by/3.0/deed.en_US"
            >Creative Commons Attribution 3.0 Unported License</a
          >. All attribution can be found on the
          <a href="/attribution">attribution</a> page.
        </p>
        <p>
          <a href="https://github.com/molly/web3-is-going-great">Source code</a>
          | <a href="/suggest">Suggest a change or addition</a>
        </p>
      </div>
    </footer>
  </body>
</html>
